.header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
}

.itensHeader{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

a {
    font-weight: 500;
    color: #f9f9f9;
    text-decoration: inherit;
}

a:hover {
    color: darkgray;
}

.footer{
    bottom: 0;
    padding-left: 50px;
}