.box{
    padding: 5px;
}

.contents{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content{
    padding: 15px;
    background-color: black;
}

